/* AudioTheme: Gigs
------------------------------------------------------------------------------*/

.archive-gig .hentry {
	margin: 0;
	padding-bottom: 4.25%;
	padding-left: 7.6923%;
	padding-right: 7.6923%;
	padding-top: 8.3333%;
}

.archive-gig .gig-note {
	margin-top: 0.5em;
}

.archive-gig .gig-note,
.archive-gig .gig-note *:last-child {
	margin-bottom: 0;
}

.archive-gig .gig-venue {
	line-height: 1.210526316;
}

.archive-gig .gig-date {
	position: absolute;
	top: 0;
}

.archive-gig .gig-date a {
	background-color: #333;
	color: #fff;
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 1.5;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
}

.archive-gig .gig-date a:hover,
.archive-gig .gig-date a:focus {
	opacity: 0.7;
}

.archive-gig .venue-address {
	display: none;
}
