/* Block List
------------------------------------------------------------------------------*/

.page-list {
	list-style: none;
	margin: 0 7.6923%;

	.hentry {
		&:first-child {
			margin-top: 7.6923%;
		}
	}
}